/* 모든 요소의 기본 여백 제거 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* HTML과 Body의 기본 설정 */
html, body {
	height: 100%;
	display: flex; 
	justify-content: center;
	align-items: center; 
}
.Calculator {
    border: 2px solid rgb(112, 160,122);
    background-color: white;
    padding: 30px;
	height: 800px;
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.color-button-group {
    display: flex;
    flex-direction: row; 
    gap: 8px;
    align-self: flex-start;
    margin-bottom: 15px;
}
.color-button {
	border: 2px solid red;
	border-radius: 50%;
	background-color: red;
	width: 30px;
	height: 30px;
}
.color-button.color-button-second {
    background-color: yellow;
    border-color: yellow;
}
.color-button.color-button-third  {
    background-color: green;
    border-color: green;
}
.display {
	border: 2px solid rgb(213, 81, 86);
    background-color: white;
    padding: 30px;
	height: 200px;
	width: 550px;
}
.buttons {
	border: 2px solid rgb(81, 81, 192);
    background-color: white;
    padding: 30px;
	height: 700px;
	width: 550px;
	margin-top: 20px;
}
